$header-background-color: black;
$header-text-color: white;
$logo-color-hover: lightgray;
$item-color-hover: gray;
$desc-color: white;
$nav-color: red;
$content-color: brown;
$stat-check-color: green;
$font: Verdana, Tahoma, sans-serif;
$font-size: 11px;
$large-font-size: 14px;
$small-font-size: 9px;
$font-color: rgb(80, 78, 78);